<section>
  <%= form_tag "/register" do %>
      <% if @new_user && @new_user.errors.any? %>
      <div id="error_explanation">
        <h4>
          <%= pluralize(@new_user.errors.count, "error") %> prohibited
          this article from being saved:
        </h4>
        <ul>
          <% @new_user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= label_tag :name %>
    <%= text_field_tag :name, (@new_user.name if @new_user) %>
    <%= label_tag :street_address %>
    <%= text_field_tag :street_address, (@new_user.street_address if @new_user) %>
    <%= label_tag :city %>
    <%= text_field_tag :city, (@new_user.city if @new_user) %>
    <%= label_tag :state %>
    <%= text_field_tag :state, (@new_user.state if @new_user) %>
    <%= label_tag :zip_code %>
    <%= text_field_tag :zip_code, (@new_user.zip_code if @new_user) %>
    <%= label_tag :email %>
    <%= text_field_tag :email %>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
    <%= label_tag :password_confirmation %>
    <%= password_field_tag :password_confirmation %>
    <%= submit_tag "Register Account" %>
  <% end %>
</section>