<!DOCTYPE html>
<html>
  <head>
    <title>SoloShop4</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav id="main-navbar">
      <%= link_to "Home", "/" %>
      <%= link_to 'All Items', "/items" %>
      <%= link_to 'All Merchants', "/merchants" %>
      <%= link_to 'Cart', "/cart" if !user_role("admin") %>
      <% if user_role("merchant") %>
        <%= link_to 'Merchant Dashboard', "/merchant" %>
      <% elsif user_role("admin") %>
        <%= link_to 'Admin Dashboard', "/admin" %>
        <%= link_to 'See all Users', "/admin/users" %>
      <% end %>
      <% if current_user %>
        <%= link_to "Profile", "/profile" %>
        <%= link_to "Logout", "/logout" %>
        <p>Logged in as <%= @current_user.name %></p>
      <% else %>
        <%= link_to "Login", "/login" %>
        <%= link_to "Register", "/register" %>
      <% end %>
    </nav>
    <% flash.each do |name, msg| %>
      <section class= "<%=name%>-flash" id="main-flash">
        <p><%= msg %></p>
      </section>
    <% end %>
    <%= yield %>
  </body>
</html>
